header {
  position: fixed;
  background: white;
  width: 100%;
  z-index: 1020;
}

.pc_product_register {
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.pc_product_register .btn {
  width: 130px;
  height: 130px;
  line-height: 120px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
}

.notice-alert {
  font-size: 18px;
}

@media (max-width: 1200px) {
  .search {
    width: 280px !important;
  }
}

.search {
  position: fixed;
  top: 100px;
  width: 340px;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.product-name:after {
  position: absolute;
  content: "";
  padding-right: 5px;
  height: 20px;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.7) 20%, white 80%);
}

.product {
  margin-bottom: 30px;
}

.product-description {
  height: 100px;
  overflow: hidden;
  position: relative;
}

.product-description:after {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  content: "";
  width: 100%;
  height: 20%;
  background: linear-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.7) 20%, white 80%);
}

.product-price {
  font-size: 16px;
  font-weight: bold;
}

.show-container {
  max-width: 700px !important;
  padding-top: 100px;
  padding-bottom: 50px;
}

.items-slide {
  width: 100%;
  max-width: 400px;
}

.image-outer {
  position: relative;
}

.image-outer:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.image-outer img {
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-item {
  position: relative;
}

.carousel-item:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item-infor {
  font-size: 18px;
}

.product.card a {
  text-decoration: none;
  color: #000;
}

.product.card a:hover {
  box-shadow: 0px 6px 8px #333;
  opacity: 0.6;
}

button.stripe-button-el,
button.stripe-button-el > span {
  width: 100% !important;
  font-size: 24px !important;
  background-color: red !important;
  background-image: none;
  line-height: 50px !important;
  height: 50px !important;
}
