header {
  position: fixed;
  background: white;
  width: 100%;
  z-index: 1020;
}

@media (min-width: 700px) {
  .show-container {
    max-width: 700px !important;
  }
}

.show-container {
  padding-top: 100px;
  padding-bottom: 50px;
}

.notice-alert {
  font-size: 18px;
}

.item {
  margin-bottom: 30px;
}

.item_description {
  height: 100px;
  overflow: hidden;
  position: relative;
}

.item_description:after {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  content: "";
  width: 100%;
  height: 20%;
  background: linear-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.7) 20%, white 80%);
}

.items-slide {
  width: 100%;
  max-width: 400px;
}

.image-outer {
  position: relative;
}

.image-outer:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.image-outer img {
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-item {
  position: relative;
}

.carousel-item:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item-infor {
  font-size: 18px;
  padding: 30px 50px 0 50px;
}
