// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
  position: fixed;
  background: white;
  width: 100%;
  z-index: 1020;
}

.pc_product_register {
  position: fixed;
  right: 50px;
  bottom: 50px;

  .btn {
    width: 130px;
    height: 130px;
    line-height: 120px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
  }
}

.notice-alert {
  font-size: 18px;
}

@media (max-width: 1200px) {
  .search {
    width: 280px !important;
  }
}

// １行省略
@mixin one-omission {
  white-space: nowrap;
  overflow: hidden;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    padding-right: 5px;
    height: 20px;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.7) 20%,
      rgba(255, 255, 255, 1) 80%
    );
  }
}

// 複数行省略
@mixin many-omission {
  overflow: hidden;
  position: relative;

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    content: "";
    width: 100%;
    height: 20%;
    background: linear-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.7) 20%, rgba(255, 255, 255, 1) 80%);
  }
}

// index
.search {
  position: fixed;
  top: 100px;
  width: 340px;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  @include one-omission;
}

.product {
  margin-bottom: 30px;
}

.product-description {
  height: 100px;
  @include many-omission;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
}

// show
.show-container {
  max-width: 700px !important;
  padding-top: 100px;
  padding-bottom: 50px;
}

.items-slide {
  width: 100%;
  max-width: 400px;
}

.image-outer {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (1 / 1) * 100%;
  }

  img {
    position: absolute;
    object-fit: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.carousel-item {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (1 / 1) * 100%;
  }

  img {
    position: absolute;
    object-fit: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.item-infor {
  font-size: 18px;
}

.product.card {
  a {
    text-decoration: none;
    color: #000;

    &:hover {
      box-shadow: 0px 6px 8px #333;
      opacity: 0.6;
    }
  }
}
